src/*.o

dist/pack
dist/saturn
dist/Saturn
dist/pack
dist/saturn
dist/saturn.cat
dist/ROMs/*rom*

docs/saturn.toc
docs/saturn.aux
docs/saturn.cp
docs/saturn.cps
docs/saturn.dvi
docs/saturn.info
docs/saturn.pdf
docs/saturn.ps
docs/saturn.log

libChf/docs/chf.tps
libChf/docs/chf.tp
libChf/docs/chf.toc
libChf/docs/chf.pdf
libChf/docs/chf.log
libChf/docs/chf.info
libChf/docs/chf.fns
libChf/docs/chf.fn
libChf/docs/chf.cps
libChf/docs/chf.cp
libChf/docs/chf.aux
libChf/docs/chf.dvi
libChf/docs/chf.ps
libChf/libChf.a
libChf/src/*.o
