/Chf/mt_build/
/Chf/st_build/
dist/pack
dist/saturn
/src/*.o
docs/saturn.toc
docs/saturn.aux
docs/saturn.cp
docs/saturn.cps
docs/saturn.dvi
docs/saturn.info
docs/saturn.pdf
docs/saturn.ps

dist/Saturn
dist/pack
dist/saturn
dist/saturn.cat
dist/stateDir.gwh_run48/
dist/stateDir.gwh_run49/
