src/*.o
src/ui4x/*.o

dist/pack
dist/saturn
dist/Saturn
dist/pack
dist/saturn
dist/saturn.cat
dist/ROMs/*rom*

docs/saturn.toc
docs/saturn.aux
docs/saturn.cp
docs/saturn.cps
docs/saturn.dvi
docs/saturn.info
docs/saturn.pdf
docs/saturn.ps
docs/saturn.log

src/libChf/docs/chf.tps
src/libChf/docs/chf.tp
src/libChf/docs/chf.toc
src/libChf/docs/chf.pdf
src/libChf/docs/chf.log
src/libChf/docs/chf.info
src/libChf/docs/chf.fns
src/libChf/docs/chf.fn
src/libChf/docs/chf.cps
src/libChf/docs/chf.cp
src/libChf/docs/chf.aux
src/libChf/docs/chf.dvi
src/libChf/docs/chf.ps
src/libChf/libChf.a
src/libChf/src/*.o
